<form [formGroup]="newPassword" (ngSubmit)="restPassword()">
  <div class="input-group w-full my-4">
    <label for="email">Email</label>
    <input
      type="text"
      id="email"
      class="w-full"
      placeholder="email"
      formControlName="email"
    />
  </div>
  <div class="input-group w-full my-4">
    <label for="password">Password</label>
    <input
      id="password"
      type="password"
      class="w-full"
      placeholder="password"
      formControlName="newPassword"
    />

     @if(newPassword.get("newPassword")?.touched&&newPassword.get("newPassword")?.invalid){
            <div
              class="mt-2 flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50"
              role="alert"
            >
              <span class="sr-only">Error</span>
              <div>
                <ul class="list-disc list-inside">
                  @if(newPassword.get("newPassword")?.getError("required")){

                  <li class="mb-1 fade">
                    <span class="font-medium">Password is required.</span>
                  </li>
                  } @if(newPassword.get("newPassword")?.getError("pattern")){

                  <li class="mb-1 fade">
                    <span class="font-medium"
                      >Password must: Be at least 8 characters long Include at
                      least one uppercase letter (A–Z) Include at least one
                      lowercase letter (a–z) Include at least one number (0–9)
                      Include at least one special character (e.g. !, #, $, %,
                      etc.)
                    </span>
                  </li>

                  }
                </ul>
              </div>
            </div>

            }
  </div>

  <button
    [disabled]="newPassword.invalid || resetSpinner"
    class="block w-full bg-main text-white rounded-[10px] py-2 transition hover:bg-mainHover cursor-pointer disabled:bg-orange-200 disabled:cursor-not-allowed"
  >
    <span>Reset</span>
    @if(resetSpinner){
    <span class="ms-1.5"><i class="fa-solid fa-spinner fa-spin"></i></span>

    }
  </button>
</form>
