
.mySwiper2 .swiper-slide-thumb-active {
  opacity: 1;
}

    .mySwiper2 swiper-slide {
      width: 25%;
      height: 100%;
      opacity: 0.4; 
      cursor: pointer;
    }
    
//  .swiper-button-next,
//  .swiper-button-prev {
//   background-color: red !important; /* Change to your desired color */
//   border-radius: 50%; /* Make buttons circular */
//   width: 40px; /* Set width */
//   height: 40px; /* Set height */
//   display: flex; /* Center icon */
//   align-items: center; /* Center icon vertically */
//   justify-content: center; /* Center icon horizontally */
// }

