<main>
  <div
    class="overflow-hidden login lg:min-h-[calc(100vh_-_96px)] flex items-center bg-[#FFF8F3] lg:bg-[linear-gradient(to_right,#FFF8F3_50%,_#ffffff_50%)] py-10"
  >
    <div
      class="container mx-auto md:w-[90%] grid grid-cols-1 lg:grid-cols-2 px-4 rounded-3xl pt-8 bg-white lg:bg-transparent"
    >
      <div class="image flex flex-col justify-cente items-center">
        <h3 class="text-[35px] font-semibold text-head w-[80%] text-center">
          Stay secure. Stay stylish. Reset and return.
        </h3>
        <img
          src="/images/Forgot password-cuate.svg"
          class="w-full lg:w-[65%]"
        />
      </div>
      <div class="form-div px-5">
        <div class="heading mb-8">
          <h1 class="text-[35px] font-bold text-head">Forget Password</h1>
          <p class="text-pargraph">Reset your password in 3 simple steps.</p>
        </div>

   <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>
